<form method="post" action="{{ path('sector_delete', {'id': sector.id}) }}" onsubmit="return confirm('Confimra que desea eliminar el sector?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sector.id) }}">
    <button class="btn delete-button" title="eliminar">
     <i class="far fa-trash-alt text-info font-16"></i>
    </button>
</form>
