<form method="post" action="{{ path('empresa_delete', {'id': empresa.id}) }}" onsubmit="return confirm('Confimra que desea eliminar la empresa?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empresa.id) }}">
    <button class="btn">Eliminar</button>
</form>
